# Python

# anaconda
- point

<img src='python.png' />

print('Hello GITAM')

In [1]:
print('hello GITAM')

hello GITAM

In [2]:
print('hello, GITAM')
print('Vizag')

hello, GITAM
Vizag

# Data Types and Data Type Conversion
- int
- float
- string

In [4]:
a = 10000000000000
s = 'python programming'
s1 = "python programming"
s2 = 'a'
b = 35.55
print(a)
print(s)
print(s1)
print(s2)
print(b)
print(type(a))
print(type(s))
print(type(s1))
print(type(s2))
print(type(b))

10000000000000
python programming
python programming
a
35.55
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>

# Data Conversions
- int()
- float()
- str()

In [5]:
a = 100
print(a,end="")
print(type(a))
s1 = str(a)
print(s1,end="")
print(type(s1))

100<class 'int'>
100<class 'str'>

In [6]:
a = "100"
b = 25
a = int(a)
c = a + b
print(c)

125

In [13]:
s1 = "35.55"
print(s1,end='')
print(type(s1))
f2 = float(s1)
print(f2)
print(type(f2))
i2 = int(f2)
print(i2)
print(type(i2))

35.55<class 'str'>
35.55
<class 'float'>
35
<class 'int'>

# input() function
- read the input to the python program
- reads the input in terms of string format

In [14]:
s1 = input('enter your name')
print(s1,type(s1))

enter your namesubhash
subhash <class 'str'>

In [15]:
i = int(input('enter a number'))
print(i,type(i))

enter a number1000
1000 <class 'int'>

In [16]:
f = float(input('enter no'))
print(f,type(f))

enter no23.44
23.44 <class 'float'>

In [17]:
s1 = "subhash"
print(len(str(s1)))

7

### operators
- +
- -
- *
- /
- %
- **
- //

In [18]:
print(10/3)
print(10//3)
print(10**3)

3.3333333333333335
3
1000

In [19]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

# logical operators
- and
- or
- not

In [23]:
a = 10
b = (a>9) and (a<=10)
c = (a>9) and (a>100)
print(b,type(b))
print(c,type(c))

True <class 'bool'>
False <class 'bool'>

### control flow statement
- conditional statements
     - if else
- looping statements
     - while
     - for

In [30]:
a = int(input('enter no'))
if a == 0:
    print('zero')
elif a > 0:
    print('positive')
else:
    print('negative')

enter no-3
negative