## Lost a notebook on CSV file. Get it from someone later on

In [28]:
import pandas as pd

filePath = '/Users/yogeshchandrasekharuni/Downloads/seasonsamplefile.csv'

def readCsvFile(filepath):
    return pd.read_csv(filepath)

df = readCsvFile(filePath)

# Groupby

In [5]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [8]:
df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

In [11]:
df.groupby("Season")["Wteam"].mean().head()

Season
1985    1287.701097
1986    1285.545863
1987    1284.852107
1988    1284.863970
1989    1283.772851
Name: Wteam, dtype: float64

## Data-Cleaning

In [14]:
# Entire data set

df.isnull().sum()

Season    0
Daynum    0
Wteam     0
Wscore    0
Lteam     0
Lscore    0
Wloc      0
Numot     0
dtype: int64

In [15]:
df.isnull().sum()

Season    0
Daynum    0
Wteam     0
Wscore    0
Lteam     0
Lscore    0
Wloc      0
Numot     0
dtype: int64

In [17]:
df.shape

(145289, 8)

In [19]:
new_df = df.dropna(axis = 0, how = 'any')

len(new_df)

145289

In [21]:
df.shape

(145289, 8)

In [29]:
df['Season'].fillna('Testing', inplace=True)
df

         Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0          1985      20   1228      81   1328      64    N      0
1          1985      25   1106      77   1354      70    H      0
2          1985      25   1112      63   1223      56    H      0
3          1985      25   1165      70   1432      54    H      0
4          1985      25   1192      86   1447      74    H      0
5          1985      25   1218      79   1337      78    H      0
6          1985      25   1228      64   1226      44    N      0
7          1985      25   1242      58   1268      56    N      0
8          1985      25   1260      98   1133      80    H      0
9          1985      25   1305      97   1424      89    H      0
10         1985      25   1307     103   1288      71    H      0
11         1985      25      0      75   1438      71    N      0
12         1985      25   1374      91   1411      72    H      0
13         1985      25   1412      70   1397      65    N      0
14         1985      25   1417      87   1225      58    H      0
15         1985      26   1116      65   1368      62    H      0
16      Testing      26   1120      92   1391      50    H      0
17         1985      26   1135      65   1306      60    A      0
18         1985      26   1143      58   1388      53    H      0
19      Testing      26   1153      50   1184      48    H      0
20         1985      26   1165      47   1159      40    A      0
21         1985      26      0      55   1216      52    H      0
22         1985      26   1173      76   1134      56    H      0
23         1985      26   1177      59   1296      58    H      0
24         1985      26   1193      79   1265      76    A      0
25         1985      26   1196       0   1416      55    H      0
26         1985      26   1206      95   1137      77    H      0
27         1985      26   1210      79   1149      66    H      0
28         1985      26   1211       0   1102      59    A      0
29         1985      26   1234      76   1114      47    H      0
...         ...     ...    ...     ...    ...     ...  ...    ...
145259     2016     130   1452      69   1328      67    N      0
145260     2016     131   1114      72   1418      65    N      0
145261     2016     131   1138      64   1103      61    N      0
145262     2016     131   1163      77   1396      62    N      0
145263     2016     131   1167      57   1308      54    N      0
145264     2016     131   1201      68   1361      63    N      0
145265     2016     131   1214      81   1354      69    N      0
145266     2016     131   1218      64   1253      60    N      0
145267     2016     131   1242      81   1452      71    N      0
145268     2016     131   1246      93   1208      80    N      0
145269     2016     131   1272      74   1408      54    N      0
145270     2016     131   1277      64   1268      61    N      0
145271     2016     131   1292      55   1330      53    N      0
145272     2016     131   1314      61   1438      57    N      0
145273     2016     131   1332      88   1428      57    N      0
145274     2016     131   1345      76   1276      59    N      0
145275     2016     131   1371      69   1437      67    N      0
145276     2016     131   1372      82   1394      60    N      0
145277     2016     131   1380      54   1238      53    N      0
145278     2016     131   1386      82   1173      79    N      0
145279     2016     131   1392      80   1436      74    H      0
145280     2016     131   1401      71   1261      38    N      0
145281     2016     131   1419      82   1426      71    N      0
145282     2016     131   1433      76   1172      54    N      0
145283     2016     131   1451      62   1285      59    N      0
145284     2016     132   1114      70   1419      50    N      0
145285     2016     132   1163      72   1272      58    N      0
145286     2016     132   1246      82   1401      77    N      1
145287     2016     132   1277      66   1345      62    N      0
145288     2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]